html,
body {
    background: $grey;
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3 {
    font-weight: 300;
}

a {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

.row {
    display: block;
    padding: 0;
    position: relative;
    zoom: 1;
    &::before,
    &::after {
        content: ' ';
        display: table;
    }
    &::after {
        clear: both;
    }
}

.clearfix {
    &::before,
    &::after {
        box-sizing: border-box;
        content: ' ';
        display: table;
    }
    &::after {
        clear: both;
    }
}

@include make-columns($grid-columns);
[class*='col-'] {
    float: left;
    min-height: 1px;
}
