@mixin make-columns($columns) {
    @for $index from 0 through $columns {
        .col-#{$index} {
            width: percentage(($index / $grid-columns));
        }
    }
    @media only screen and (min-width: $screen-sm-min) {
        @for $index from 0 through $columns {
            .col-sm-#{$index} {
                width: percentage(($index / $grid-columns));
            }
        }
    }
    @media only screen and (min-width: $screen-md-min) {
        @for $index from 0 through $columns {
            .col-md-#{$index} {
                width: percentage(($index / $grid-columns));
            }
        }
    }
    @media only screen and (min-width: $screen-lg-min) {
        @for $index from 0 through $columns {
            .col-lg-#{$index} {
                width: percentage(($index / $grid-columns));
            }
        }
    }
}
