$blue: #5aadbb;
$white: #fff;
$black: #000;
$grey: #ececec;
$grey-dark: #d6d5d5;
$blue: #337ab7;
$orange: #ec971f;
$red: #c9302c;
$screen-sm-min: 768px !default; //Tablet
$screen-md-min: 992px !default; //Desktops
$screen-lg-min: 1200px !default; //Laptops
$screen-xs-max: ($screen-sm-min - 1) !default; //Mobile
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: 1500px !default;
$grid-columns: 12 !default;
