<div class="compare-chart">
    <h2 class="chart-title">General graph comparision </h2>
    <div class="col-12 col-md-8 chart">
        <download-file data="$ctrl.dataDownload" file-name="locations" ng-if="$ctrl.downloadFile" download="$ctrl.downloadFile" extension="'json'"></download-file>
        <span class="fa fa-download" ng-click="$ctrl.download()"> </span>
        <canvas id="chart-compare"></canvas>
    </div>

    <div class="col-12 col-md-4 leyend">
        <div class="list-container">
            <ul>
                <li ng-repeat="dataset in $ctrl.data.datasets" ng-class="{'hidden':dataset.hidden}" ng-click="$ctrl.showHide($index)">
                    <span class="square" style="background: {{dataset.pointBackgroundColor}}"></span>
                    {{dataset.label}}
                </li>
            </ul>
        </div>
    </div>
</div>
