.compare-chart {
    .fa-download {
        cursor: pointer;
        position: absolute;
        font-size: 40px;
        right: 15px;
        top: 15px;
    }
    margin: 10px;
    @media only screen and (min-width: $screen-md-min) {
        display: table;
        table-layout: fixed;
        width: calc(100% - 20px);
        .chart,
        .leyend {
            display: table-cell !important;
        }
        .chart-title {
            display: table-caption !important;
        }
    }
    .chart-title {
        color: $blue;
        display: block;
    }
    .chart {
        background: $grey-dark;
        min-width: 500px;
        float: none;
        position: relative;
    }
    .leyend {
        background: $blue;
        float: none;
        .list-container {
            padding: 10px;
        }
        ul {
            background: $white;
            border-radius: 5px;
            padding: 5px;
            list-style: none;
            li {
                cursor: pointer;
                line-height: 24px;
                &.hidden {
                    text-decoration: line-through;
                }
                .square {
                    display: inline-block;
                    background: $black;
                    height: 16px;
                    vertical-align: text-bottom;
                    width: 16px;
                    &.reference {
                        background: $blue;
                    }
                }
            }
        }
    }
}
