
.compare-locations-data {
    padding: 20px;
}

.locations-data {
    &:not(:last-child) {
        .location {
            margin-right: 4px;
        }
    }
}

.location {
    border-bottom: 3px solid $black;
    text-align: center;
    @media only screen and (min-width: $screen-md-min) {
        height: 185px;
    }
    h3 {
        text-transform: uppercase;
    }
    .population-info {
        color: $white;
        padding: 10px;
        p {
            font-size: 35px;
            margin: 0;
        }
    }
    &.reference {
        border-bottom-color: $red;
        h3 {
            color: $red;
        }
        .population-info {
            background: $red;
        }
    }
    &.comparation-1 {
        border-bottom-color: $orange;
        h3 {
            color: $orange;
        }
        .population-info {
            background: $orange;
        }
    }
    &.comparation-2 {
        border-bottom-color: $blue;
        h3 {
            color: $blue;
        }
        .population-info {
            background: $blue;
        }
    }
}
