<div >
    <div ng-if="$ctrl.loading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <main ng-if="!$ctrl.loading">
        <div ng-if="!$ctrl.error">
            <compare-location-data locations="$ctrl.locations"></compare-location-data>
            <compare-chart locations="$ctrl.locations"></compare-chart>
        </div>
        <div ng-if="$ctrl.error">
            <h1>ERROR</h1>
        </div>
    </main>
</div>
