<div class="row compare-locations-data">
    <div class="col-12 col-md-4 locations-data" ng-repeat="location in $ctrl.locations">
        <div class="location {{location.variables.is_reference? 'reference': 'comparation-' + location.compare}}">
            <h3 ng-if="location.variables.is_reference">Reference area</h3>
            <h3 ng-if="!location.variables.is_reference">Compared area {{ location.compare }}</h3>

            <div class="population-info">
                <p>
                    {{location.variables.population | number}}
                </p>
                Population
            </div>
            <p>
                {{location.address}}
            </p>
        </div>
    </div>
</div>
